.card {
  border-bottom: 1px solid var(--dark-color);
  padding: 1rem 0;

  .info {
    position: relative;
    border: 1px solid orange;

    .image {
    }

    .title {
    }

    .description {
    }

    .add_to_cart_button {
      position: absolute;
      bottom: -10px;
      right: 20px;
    }
  }
}
