* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--light-color);
  color: var(--dark-color);
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --light-color: #f6f2ea;
  --dark-color: #2d2513;
  --nav-height: 80px;
}
