.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 0.5rem;
  background: var(--dark-color);
  color: var(--light-color);
  .nav_menu {
    display: flex;
    gap: 0.5rem;

    .menu_item {
      cursor: pointer;
    }

    .menu_item:hover {
      /* write cool animation here? */
    }
  }
}
